
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="../assets/images/favicon_1.ico">

    <title>Запрос #2</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="../assets/plugins/morris/morris.css">

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../assets/js/modernizr.min.js"></script>


</head>

<body ng-app="myinq_2">

<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="../index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>Ub<i class="md md-album"></i>ld</span></a>
            </div>
        </div>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown top-menu-item-xs">
                            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="../assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Навігіція</li>

                    <li class="">
                        <a href="../index.html" class="waves-effect"><i class="fa fa-home" aria-hidden="true"></i> <b>Головна </b></a>
                    </li>

                    <li class="has_sub">
                        <a href="../category.html" class="waves-effect"><i class="fa fa-tag"></i> <b>Категорії </b></a>
                    </li>

                    <li class="has_sub">
                        <a href="../type.html" class="waves-effect"><i class="fa fa-calendar-o"></i> <b>Види </b> </a>
                    </li>

                    <li class="has_sub">
                        <a href="../country.html" class="waves-effect"><i class="fa fa-flag"></i> <b> Країни </b> </a>
                    </li>

                    <li class="has_sub">
                        <a href="../customer.html" class="waves-effect"><i class="fa fa-user"></i> <b> Покупці </b> </a>
                    </li>


                    <li class="has_sub">
                        <a href="../provider.html" class="waves-effect"><i class="fa fa-users" aria-hidden="true"></i> <b> Постачальники </b> </a>
                    </li>

                    <li class="has_sub">
                        <a href="../status.html" class="waves-effect"><i class="fa fa-check"></i> <b> Статуси </b> </a>
                    </li>

                    <li class="has_sub">
                        <a href="../center.html" class="waves-effect"><i class="fa fa-globe"></i> <b> Осередки </b>   </a>
                    </li>


                    <li class="has_sub">
                        <a href="../directory.html" class="waves-effect"><i class="fa fa-book"></i> <b> Довідник </b> </a>
                    </li>


                    <li class="has_sub">
                        <a href="../defect.html" class="waves-effect"><i class="fa fa-close"></i> <b> Брак </b>  </a>
                    </li>

                    <li class="has_sub">
                        <a href="../product.html" class="waves-effect"><i class="fa fa-product-hunt"></i> <b> Товари </b>  </a>
                    </li>

                    <li class="has_sub">
                        <a href="../order.html" class="waves-effect"><i class="fa fa-shopping-cart"></i> <b> Замовлення </b>   </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content-page">
        <div class="content">
            <div class="container" ng-controller="inq_2 as ctrl">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 ><b> Запит #2 Одержати перелік постачальників, які протягом вказаного періоду привезли вказаний товар у обсязі, не меншому від вказаного. </b></h3>
                                    <hr>
                                    <h3>Фільтр:</h3>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <label>Товар:</label>
                                        <select class="form-control" id="Product"></select>
                                        <br>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label>Дата:</label>
                                        <input class="form-control" type="date" name="StartTime" id="StartTime">
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label>Дата:</label>
                                        <input class="form-control" type="date" name="FinishTime" id="FinishTime">
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <br>
                                        <label>Кількість:</label>
                                        <input class="form-control" type="text" id="Amount">
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <br>
                                        <button type="button" class="btn btn-success" ng-click="ctrl.update_request()">Пошук</button>
                                    </div>

                                    <br>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <hr>
                                        <h3>Результат пошуку:</h3>

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Постачальник</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="provider in providers">
                                                <td>{{provider.id}}</td>
                                                <td>{{provider.name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div id="Rezultat"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        var resizefunc = [];
    </script>


    <script type="text/javascript" src="../assets/js/angular.min.js"></script>
    <!--<script type="text/javascript" src="../assets/js/main.js"></script>-->
    <script type="text/javascript" src="../assets/js/site/inq_2.js"></script>

    <!-- jQuery  -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/detect.js"></script>
    <script src="../assets/js/fastclick.js"></script>

    <script src="../assets/js/jquery.slimscroll.js"></script>
    <script src="../assets/js/jquery.blockUI.js"></script>
    <script src="../assets/js/waves.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.js"></script>
    <script src="../assets/js/jquery.scrollTo.min.js"></script>

    <script src="../assets/plugins/peity/jquery.peity.min.js"></script>

    <!-- jQuery  -->
    <script src="../assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="../assets/plugins/counterup/jquery.counterup.min.js"></script>



    <script src="../assets/plugins/morris/morris.min.js"></script>
    <script src="../assets/plugins/raphael/raphael-min.js"></script>

    <script src="../assets/plugins/jquery-knob/jquery.knob.js"></script>

    <script src="../assets/pages/jquery.dashboard.js"></script>

    <script src="../assets/js/jquery.core.js"></script>
    <script src="../assets/js/jquery.app.js"></script>


</body>
</html>